.posts__component {
  background-color: rgb(239, 122, 122);
  height: 300px;
  overflow-y: auto;
  margin: 20px 30px;
  border-radius: 10px;
  padding: 20px 30px;
  color: white;
}

.post__component {
  background-color: rgb(239, 122, 122);
  height: 200px;
  overflow-y: auto;
  margin: 20px 30px;
  border-radius: 10px;
  padding: 20px 30px;
  color: white;
}

.posts__list {
  list-style: none;
}

.posts__list li span{
  padding-left: 8px;
}
.posts__list li p{
  padding-left: 30px;
}

.fetch__button {
  margin: 20px 45%;
  width: auto;
  padding: 10px 20px;
  color: white;
  background-color: darkcyan;
  border-radius: 8px;
  border: 2px solid darkcyan;;
}

.fetch__button:active {
  background-color: rgb(0, 89, 89);
}